<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.ManagerDao">

    <insert id="insertManager">
        insert into t_manager values(#{id}, #{name}, #{salt}, #{password}, #{status})
    </insert>

    <delete id="deleteManager">
        delete from t_manager where id = #{id}
    </delete>

    <update id="updateManager">
        update t_manager set name = #{name}, password = #{password}, status = #{status} where id = #{id}
    </update>

    <select id="selectManager" resultType="Manager">
        select * from t_manager where name = #{name}
    </select>

    <select id="selectRolesByName" resultType="SysRole">
        select
            id id,
            role_name roleName,
            role_tag roleTag
        from
            sys_role
        where id in (
            select
                role_id
            from
                sys_user_role
            where user_id = (
                    select
                        id
                    from
                        t_manager
                    where
                        name = #{name}
            )
        )
    </select>

    <select id="selectPermissionsByName" resultType="SysPermission">
        select
            id id,
            resource_name resourceName,
            resource_tag resourceTag,
            resource_url resourceUrl,
            permission_tag permissionTag
        from
            sys_resource
        where id in (
            select
                permission_id
            from
                sys_role_permission
            where role_id = (
                select
                    role_id
                from
                    sys_user_role
                where user_id = (
                    select
                        id
                    from
                        t_manager
                    where
                        name = #{name}
                )
            )
        )
    </select>

</mapper>