<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.PhotoDao">

    <insert id="insertPhoto">
        insert into t_photo values(#{photoId}, #{photoName}, #{description}, #{status}, #{uploadTime})
    </insert>

    <delete id="deletePhoto">
        delete from t_photo where photoId = #{photoId}
    </delete>

    <update id="updatePhoto">
        update t_photo set photoName = #{photoName}, description = #{description}, status = #{status} where photoId = #{photoId}
    </update>

    <select id="count" resultType="int">
        select count(*) from t_photo
    </select>

    <select id="selectPhoto" resultType="Photo">
        select * from t_photo where photoId = #{photoId}
    </select>

    <select id="selectAllPhoto" resultType="Photo">
        select * from t_photo order by uploadTime desc limit #{begin}, #{end}
    </select>

</mapper>